.topico {
  cursor: pointer;
}

.topico:hover {
  font-weight: bolder;
}

.navbar-brand {
  font-size: 40px !important;
  padding-left: 30px;
}

.navbar-brand:hover {
  font-weight: bolder;
}

#newTopicoBtn {
  margin-right: 30px;
}

#alerta-div {
  height: 70px;
}

#alerta {
  display: flex;
  justify-content: start;
}

#alerta p {
  margin-bottom: 0;
}

#alerta button {
  padding-left: 20px;
}
