.btn-primary {
  background-color: rgb(0, 128, 157) !important;
}

a {
  color: rgb(0, 82, 100) !important;
}

.topico {
  cursor: pointer;
}

.topico:hover {
  font-weight: bolder;
}

.navbar-brand {
  font-size: 40px !important;
  font-weight: bolder;
  padding-left: 30px;
}

#newTopicoBtn {
  margin-right: 30px;
}

#alerta-div {
  height: 70px;
}

#alerta {
  display: flex;
  justify-content: start;
  background-color: rgb(0, 153, 187) !important;
}

#alerta p {
  margin-bottom: 0;
}

#alerta button {
  padding-left: 20px;
}

#secao-comentarios {
  background-color: #f0f2f5;
}
